<mat-form-field>
  <mat-label>quote</mat-label>
  <textarea matInput [(ngModel)]="data.quote.text"></textarea>
</mat-form-field>
  
<mat-form-field>
  <mat-label>Author</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.quote.author" />
</mat-form-field>
  
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ quote: data.quote }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ quote: data.quote, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
</div>  