<div mat-dialog-title>Edit quote</div>
<form [formGroup]="quoteForm" (ngSubmit)="confirm()">
  <div mat-dialog-content class="quote">
    <mat-form-field class="h-100-children">
      <mat-label>quote</mat-label>
      <textarea matInput formControlName="text" name="text" cdkFocusInitial></textarea>
      <mat-error>Quote is mandatory</mat-error>
    </mat-form-field>
      
    <mat-form-field>
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" name="author" placeholder="Anonimus" />
    </mat-form-field>
  </div>
    
  <div mat-dialog-actions>
    <button mat-stroked-button color="primary" [disabled]="!quoteForm.valid">OK</button>
    <button mat-stroked-button (click)="cancel()">Cancel</button>
    <!--button
      *ngIf="data.enableDelete"
      mat-fab
      color="primary"
      aria-label="Delete"
      [mat-dialog-close]="{ quote: data.quote, delete: true }">
      <mat-icon>delete</mat-icon>
    </button-->
  </div>
</form>