
mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}

/* 428px and up */
@media (min-height: 428px) {
  mat-dialog-content textarea {
    height: 108px;
  }
}