mat-toolbar {
  box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
  position: fixed;
  z-index: 2;
}

mat-toolbar > span.title {
  margin-left: 10px;
}

mat-toolbar > span.spacer {
  flex: 1 1 auto;
}

mat-toolbar > input {
	padding: 13px;
	width: 100%;
	border-radius: 4px;
	border: 0px;
}

mat-toolbar > input:focus-visible {
  outline: none;
}

/* Body */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 84px;
}

.container > mat-card {
  width: 400px;
}

.container > .msg {
  padding-top: 10px;
  opacity: 0.2;
  text-align: center;
}

.container > .msg > mat-icon {
  transform: scale(4);
  margin-top: 25px;
}

.container > .msg > p {
  font-size: 2em;
}

/* Quote */
mat-card {
  margin: 0 10px 20px;
  box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
}

mat-card > quote {
  padding: 0 16px 16px;
  height: 100%;
}

mat-card .actions { position: relative; }

mat-card .actions .edit {
  position: absolute;
  inset-inline-end: 48px;
}

mat-card .actions .copy {
  position: absolute;
  inset-inline-end: 0;
}

mat-card .actions .copied-tooltip {
  width: 48px;
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0;
}