<mat-toolbar color="primary">
  <mat-icon *ngIf="!showSearch">library_books</mat-icon>
  <span *ngIf="!showSearch" class="title">{{ title }}</span>
  <span *ngIf="!showSearch" class="spacer"></span>
  <!--button *ngIf="!showSearch"
          (click)="search()"
          mat-icon-button
          matTooltip="Find quotes"
          matTooltipShowDelay="750"
          aria-label="Button to find quotes">
    <mat-icon>search</mat-icon>
  </button-->
  <button *ngIf="!showSearch"
          (click)="newQuote()"
          mat-icon-button
          matTooltip="Add new quote"
          matTooltipShowDelay="750"
          aria-label="Button to add a new quote">
    <mat-icon>add</mat-icon>
  </button>
  <input *ngIf="showSearch" type="text" placeholder="Search"
        [cdkTrapFocusAutoCapture]="showSearch"
        [cdkTrapFocus]="showSearch"
        (keyup.escape)="onKeyEscape()">
  <button *ngIf="showSearch"
          (click)="search()"
          mat-icon-button
          matTooltip="Close search"
          matTooltipShowDelay="750"
          aria-label="Button to close search">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div class="empty" *ngIf="(quotes | async)?.length === 0">
    <mat-icon>sentiment_dissatisfied</mat-icon>
    <p>No quotes inserted</p>
  </div>
  <!--div class="empty" *ngIf="(quotes | async)?.length === 0">
    <mat-icon>sentiment_dissatisfied</mat-icon>
    <p>No quotes found</p>
  </div-->
  <quote *ngFor="let quote of quotes | async" [quote]="quote"></quote>
</div>