<mat-toolbar color="primary">
  <mat-icon *ngIf="!showSearch">library_books</mat-icon>
  <span *ngIf="!showSearch" class="title">{{ title }}</span>
  <span *ngIf="!showSearch" class="spacer"></span>
  <button *ngIf="!showSearch"
          (click)="toggleSearch()"
          mat-icon-button
          matTooltip="Find quotes"
          matTooltipShowDelay="750"
          aria-label="Button to find quotes">
    <mat-icon>search</mat-icon>
  </button>
  <button *ngIf="!showSearch"
          (click)="newQuote()"
          mat-icon-button
          matTooltip="Add new quote"
          matTooltipShowDelay="750"
          aria-label="Button to add a new quote">
    <mat-icon>add</mat-icon>
  </button>
  <input *ngIf="showSearch" type="text" placeholder="Type to start search"
        [cdkTrapFocusAutoCapture]="showSearch"
        [cdkTrapFocus]="showSearch"
        (keyup.escape)="onKeyEscape()"
        [(ngModel)]="search"
        (ngModelChange)="debounceSearch.next($event)">
  <button *ngIf="showSearch"
          (click)="toggleSearch()"
          mat-icon-button
          matTooltip="Close search"
          matTooltipShowDelay="750"
          aria-label="Button to close search">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div class="msg" *ngIf="(quotes | async)?.length === 0 && !showSearch">
    <mat-icon>sentiment_dissatisfied</mat-icon>
    <p>No quotes inserted</p>
  </div>
  <div class="msg" *ngIf="(quotes | async)?.length === 0 && showSearch">
    <mat-icon>sentiment_dissatisfied</mat-icon>
    <p>No quotes found</p>
  </div>
  <mat-card *ngFor="let quote of quotes | async">
    <quote [quote]="quote" #qIns></quote>
    <div class="actions">
      <button (click)="delete(quote, qIns.vmQuote)"
              mat-icon-button
              color="warn"
              matTooltip="Delete quote"
              matTooltipShowDelay="750"
              aria-label="Button to delete quote">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="edit(quote, qIns)"
              mat-icon-button
              matTooltip="Edit quote"
              matTooltipShowDelay="750"
              aria-label="Button to modify quote" class="edit">
        <mat-icon>edit_square</mat-icon>
      </button>
      <button (click)="copy(qIns.vmQuote, tooltip, actionTooltip)"
              mat-icon-button
              matTooltip="Copy quote"
              #tooltip="matTooltip"
              matTooltipShowDelay="750"
              aria-label="Button to copy quote" class="copy">
        <mat-icon>content_copy</mat-icon>
      </button>
      <span matTooltip="Quote copied!" #actionTooltip="matTooltip" class="copied-tooltip"></span>
    </div>
  </mat-card>
</div>