mat-card {
  margin: 0 10px 20px;
  box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
}

mat-card .content { padding: 0 16px 16px; }

mat-card .actions { position: relative; }

mat-card .actions .edit {
  position: absolute;
  inset-inline-end: 48px;
}

mat-card .actions .copy {
  position: absolute;
  inset-inline-end: 0;
}

mat-card .actions .copied-tooltip {
  width: 48px;
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0;
}