html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .responsive-dialog {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .responsive-dialog {
    width: 650px;
  }
}

mat-dialog-actions.mat-mdc-dialog-actions {
  justify-content: flex-end;
  padding: 0 24px 24px;
}